<h3>Tasks</h3>

<form data-bind="submit: addTask">
    Add task:
    <input data-bind="value: newTaskText" placeholder="What needs to be done?" />
    <button type="submit">Add</button>
</form>

<ul data-bind="foreach: tasks, visible: tasks().length > 0">
    <li>
        <input type="checkbox" data-bind="checked: isDone" />
        <input data-bind="value: title, disable: isDone, valueUpdate: 'afterkeydown'" />
        <a href="#" data-bind="click: $parent.removeTask">Delete</a>
    </li>
</ul>

You have <b data-bind="text: incompleteTasks().length">&nbsp;</b> incomplete task(s)
<span data-bind="visible: incompleteTasks().length == 0">- it's beer time!</span>


@section scripts {
    <script src="~/signalr/hubs"></script>
    <script>

        function Task(data) {
            this.id = ko.observable(data.Id);
            this.title = ko.observableRemote(data.Title, 'title');
            this.isDone = ko.observable(data.IsDone);
        }

        function TaskListViewModel() {
            // Data
            var self = this;
            self.tasks = ko.observableArrayRemote([]);
            self.newTaskText = ko.observable();
            self.incompleteTasks = ko.computed(function () {
                return ko.utils.arrayFilter(self.tasks(), function (task) { return !task.isDone() && !task._destroy; });
            });

            // Operations
            self.addTask = function () {
                self.tasks.push(new Task({ Title: this.newTaskText() }));
                self.newTaskText("");
            };

            self.removeTask = function (task) {
                self.tasks.destroy(task);
            };

            // Change the function that maps an obj received from the server.
            self.tasks.mapFromServer = function (obj) {
                return new Task(obj);
            };
        }

        ko.applyBindings(new TaskListViewModel());

    </script>
}

